#index
  #about.section
    .mui-row
      .mui-col-md-6
        %h2 Open Source Incident Response Toolkit
        %h3 What's New
        %ul
          %li
            =link_to 'Live Updates from Re: Invent 2017', "http://bit.ly/2BsSCW0"
          %li
            =link_to 'Tweets from Re: Invent 2017', "https://twitter.com/andrewkrug"
          %li
            =link_to 'DerbyCon Slides', "http://threatresponse-derbycon.s3-website-us-west-2.amazonaws.com/"
          %li
            =link_to 'DerbyCon Video', "https://www.youtube.com/watch?v=cmEUxxYFjK8"
          %li
            = link_to 'Network World Article', 'http://www.networkworld.com/article/3106729/security/four-free-tools-for-handling-amazon-web-services-security-incident-response.html'
          %li
            = link_to 'Dark Reading Article', 'http://www.darkreading.com/cloud/6-things-to-know-for-securing-amazon-web-services/d/d-id/1326595'

          %li
            =link_to 'Whitepaper', 'https://s3-us-west-2.amazonaws.com/threatresponse-static/us-16-Krug-Hardening-AWS-Environments-and-Automating-Incident-Response-for-AWS-Compromises-wp.pdf'

        %h3 Blog Articles
        -blog.articles[0...5].each do |article|
          %li
            =link_to article.title, article.url



      .mui-col-md-6
        = partial 'modules/video'

  #suite.section
    %h1 ThreatResponse Suite
    .tools
      .tool
        =image_tag 'aws_ir.png'
        %h3 AWS_IR CLI
        %p
          AWS_IR automates your incident response with zero security preparedness assumptions.
          It can handle key and host compromises and collects all pertinent data in an S3 bucket along with the ThreatResponse Web workstation.
        %p.center
          =link_to("Read the Docs", "https://aws-ir.readthedocs.io/en/latest/")

      .tool.tool--es
        =link_to image_tag('ephemeral-logo.png'), 'https://ephemeralsystems.com'
        %h3 Incident Pony™
        %p
          Incident Pony is a first of its kind case management and Incident Response orchestration tool specifically designed for AWS.

          By wrapping our open source tools in a web front-end we've made it even easier to manage incidents in your cloud.

        %p.center= link_to 'Learn More', 'https://ephemeralsystems.com/'



      .tool
        =image_tag 'margarita.png'
        %h3 Margarita Shotgun
        %p
          Command line utility that works with or without Amazon EC2 instances to parallelize remote memory acquisition.

          %ol
            %li Load the appropriate module from the ThreatResponse kernel module warehouse
            %li Acquire the memory by streaming to an S3 bucket using multi-part upload over ssh
          =link_to("Read the Docs", "https://margaritashotgun.readthedocs.io/en/latest/")

    .section-footer
      %h2 Three Projects: One Goal
      %h2 Improved Incident Response

  #team.section
    %h1 The Team
    .mui-row
      .team-member
        .team-member__info
          %h3 Andrew Krug
          %h4 Creator ThreatResponse
          %h4 @andrewkrug
        =image_tag 'andrew.jpg'

      .team-member
        .team-member__info
          %h3 Alex McCormack
          %h4 Creator ThreatResponse
          %h4 @amccormack
        =image_tag 'alex.jpg'

      .team-member
        .team-member__info
          %h3 Joel Ferrier
          %h4 Creator Margarita Shotgun
          %h4 @joelferrier
        =image_tag 'joel.jpg'

      .team-member
        .team-member__info
          %h3 Jeff Parr
          %h4 Full Stack Engineer
          %h4 @jparr
        =image_tag 'jeff.jpg'

      .team-member
        .team-member__info.team-member__info-empty
          %h3 Join Us!
        =image_tag 'join.png'
      .team-member
        .team-member__info.team-member__info-empty
          %h3 Become a contributor today!
        =image_tag 'join.png'

  #contact.section
    %h1 Subscribe to our mailing list
    .mui-col-md-8.mui-col-md-offset-2
      = partial 'modules/signup.html'

  #support.section
    %h1 Supported By
    .support
      .support__logo
        =image_tag 'aws_logo.svg'
      .support__logo
        =image_tag 'mozilla_logo.svg'
      .support__logo
        =image_tag 'microsoft-logo.png'
